# Exclude common Python files and directories
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.egg-info/

# Exclude development and local files
.env
.env.*
*.log
*.db
.pytest_cache/
.mypy_cache/
.ruff_cache/
.streamlit/
debug/

# Exclude version control system files
.git/
.gitignore
.svn/

storage/
config.toml
docs/*.mp4
docs/*.mov
docs/*.avi
docs/*.mkv
